<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="prefetch" href="https://fonts.googleapis.com/css?family=Roboto" onload="this.rel='stylesheet'">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="https://www.dev-mind.fr/">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html">
    <meta property="og:description" content="{{ description }}">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Dev-Mind">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Dev-Mind">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon.png">
    <meta name="msapplication-TileColor" content="#2196f3">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2196f3">

    <!-- Your styles -->
    <link rel="stylesheet" href="../../css/blog.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="dev-mind">
<header class="header-wrapper">
    <nav>
        <a href="../../index.html" class="mdl-layout__tab"
           id="#home" onclick="app.changeMenu('#home')"><img src="../../img/ic_home_white_24px.svg" rel="start"></a>
        <a href="../../blog.html" class="mdl-layout__tab"
           id="#blog" onclick="app.changeMenu('#blog')">Blog</a>
        <a href="../../index.html#formation" class="mdl-layout__tab"
           id="#formation" onclick="app.changeMenu('#formation')">Formations</a>
        <a href="../../index.html#experience" class="mdl-layout__tab is-large-screen"
           id="#experience" onclick="app.changeMenu('#experience')">Expérience</a>
        <a href="../../index.html#contact" class="mdl-layout__tab"
           id="#contact" onclick="app.changeMenu('#contact')">Contact</a>
    </nav>
</header>
<main>
    <div class="dm_head" id="home">
        <devmind-header>
            <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>
        </devmind-header>
    </div>

    <div id="dm_transition_cloud"></div>

    <div class="dm_home_blog" id="blog">
        <devmind-article>
            <article>
                <h1>{{ title }}</h1>
                <div class="dm-blog--info-date"><small>{{ revdate }}</small></div>
                <div id="blog-keywords"></div>
                <div></div>
                {{{ contents }}}
            </article>
        </devmind-article>
    </div>

    <div id="dm_transition_mountain"></div>

    <div class="dm_home_formation" id="formation">
        <devmind-header>
            <div id="previous-blogpost"></div>
        </devmind-header>
    </div>

    <footer class="footer-wrapper">
        <div class="dm_footer">
            <div class="is-small-screen">
                <p>
                    SARL au capital de <i>5000€</i><br>
                    SIREN : 808 720 759, au RCS de Saint-Etienne<br>
                    All right reserved - @2016 Guillaume EHRET
                </p>
            </div>
            <div class="is-large-screen">
                <div class="dm_footer__middle">
                    <div class="dm_society">
                        Dev-Mind
                    </div>
                    <div>SARL au capital de <i>5000€</i></div>
                    <div>SIREN : 808 720 759, au RCS de Saint-Etienne</div>
                </div>

                <div class="dm_footer__right">
                    All right reserved - @2016 Guillaume EHRET
                </div>
            </div>
        </div>
    </footer>
</main>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/blog.js"></script>
<script>
    setTimeout(blog.findPreviousBlogpost('{{filename}}'), 500);
</script>
<script async src="../../js/analytics.js"></script>
</body>
</html>
