<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="img/animation/cloud/cloud3.png" as="image">
    <link rel="preload" href="img/animation/cloud/cloud2.png" as="image">
    <link rel="preload" href="img/animation/mountain/mountain2.png" as="image">
    <link rel="preload" href="img/animation/mountain/mountain1.png" as="image">
    <link rel="preload" href="img/animation/hills/hills1.png" as="image">
    <link rel="preload" href="img/animation/hills/hills2.png" as="image">
    <link rel="preload" href="img/animation/grass/grass1.png" as="image">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="https://www.dev-mind.fr/{{ canonical-url }}">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.dev-mind.fr/">
    <meta property="og:description" content="{{ description }}">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Dev-Mind">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Dev-Mind">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon.png">
    <meta name="msapplication-TileColor" content="#2196f3">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2196f3">

    <!-- Your styles -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="dev-mind">

<header>
    {{#single}}
    <nav>
        <a href="index.html#home" class="mdl-layout__tab is-active" ng-class="{ 'is-active' : active === 'home' }"
           ng-click="changeMenu('home')"><img src="img/ic_home_white_24px.svg" rel="start"></a>
        <a href="index.html#blog" class="mdl-layout__tab" ng-class="{ 'is-active' : active === 'blog' }"
           ng-click="changeMenu('blog')">Blog</a>
        <a href="index.html#formation" class="mdl-layout__tab" ng-class="{ 'is-active' : active === 'formation' }"
           ng-click="changeMenu('formation')">Formations</a>
        <a href="index.html#experience" class="mdl-layout__tab is-large-screen"
           ng-class="{ 'is-active' : active === 'experience' }"
           ng-click="changeMenu('experience')">Expérience</a>
        <a href="index.html#contact" class="mdl-layout__tab" ng-class="{ 'is-active' : active === 'contact' }"
           ng-click="changeMenu('contact')">Contact</a>
    </nav>
    {{/single}}
    {{^single}}
    <nav>
        <a href="index.html" class="mdl-layout__tab is-active" ng-class="{ 'is-active' : active === 'home' }"
           ng-click="changeMenu('home')"><img src="img/ic_home_white_24px.svg" rel="start"></a>
    </nav>
    {{/single}}
</header>
<main>
    {{{ contents }}}
    <footer>
        <div class="dm_footer">
            <div class="is-small-screen">
                <p>
                    SARL au capital de <i>5000€</i><br>
                    SIREN : 808 720 759, au RCS de Saint-Etienne<br>
                    All right reserved - @2016 Guillaume EHRET
                </p>
            </div>
            <div class="is-large-screen">
                <div class="dm_footer__middle">
                    <div class="dm_society">
                        Dev-Mind
                    </div>
                    <div>SARL au capital de <i>5000€</i></div>
                    <div>SIREN : 808 720 759, au RCS de Saint-Etienne</div>
                </div>

                <div class="dm_footer__right">
                    All right reserved - @2016 Guillaume EHRET
                </div>
            </div>
        </div>
    </footer>
</main>

<!-- build:js(app/) ../../js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

</body>
</html>
