<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="images/animation/cloud/cloud3.png" as="image">
    <link rel="preload" href="images/animation/cloud/cloud2.png" as="image">
    <link rel="preload" href="images/animation/mountain/mountain2.png" as="image">
    <link rel="preload" href="images/animation/mountain/mountain1.png" as="image">
    <link rel="preload" href="images/animation/hills/hills1.png" as="image">
    <link rel="preload" href="images/animation/hills/hills2.png" as="image">
    <link rel="preload" href="images/animation/grass/grass1.png" as="image">
    <link rel="preload" href="images/animation/grass/grass2.png" as="image">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <link rel="canonical" href="https://www.dev-mind.fr/">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.dev-mind.fr/">
    <meta property="og:description" content="{{ description }}">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Dev-Mind">
    <link rel="icon" sizes="192x192" href="img/touch/chrome-touch-icon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Dev-Mind">
    <link rel="apple-touch-icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon.png">
    <meta name="msapplication-TileColor" content="#2196f3">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2196f3">

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="dev-mind">
<header class="header-wrapper">
    <div class="header">Exemple de header</div>
</header>
<article class="article-wrapper">
    <h1>{{ title }}</h1>
    {{{ contents }}}
</article>
<footer class="footer-wrapper">
    footer
</footer>
</body>
</html>
