<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="../../css/blog.css" as="style" media="print" onload="this.media='all'; this.onload=null;">
  <link rel="stylesheet" href="../../css/bloglist.css" as="style" media="print" onload="this.media='all'; this.onload=null;">
  <link rel="preload" href="../../js/blog.js" as="script">
  {{> _html_header baseuri='../../'}}
</head>
<body class="dev-mind">
{{> _page_header baseuri='../../'}}
<main>
    <div class="dm-block--blog">


        <devmind-article>
            {{#modedev}}
                <h2>MODE DEV</h2>
            {{/modedev}}
            <article>
                <h1 class="dm-blog--info-title">{{ title }}</h1>
                <div class="dm-blog--info-date">
                    <small><b>{{ revdate }}</b></small>
                    <small id="nbview"></small>
                </div>
                <div id="blog-keywords" class="blog-keywords">
                    {{#keywords}}
                        <span class="dm-blog--keyword-detail"><small>{{.}}</small></span>&nbsp;
                    {{/keywords}}
                </div>
                <div class="dm-blog--content">
                    {{{ contents }}}
                </div>
            </article>

            <div class="btn-group">
                <div class="btn-group--element">
                    <button onclick="blog.sendSocial('twitter', 'https://dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"
                            class="btn-inverse">
                        <img src="../../img/contact/twitter.svg" alt="Twitter" class="dm-social"></button>
                    <button onclick="blog.sendSocial('facebook', 'https://dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"
                            class="btn-inverse">
                        <img src="../../img/contact/facebook.svg" alt="Facebook" class="dm-social"></button>
                    <button onclick="blog.sendSocial('linkedin', 'https://dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"
                            class="btn-inverse">
                        <img src="../../img/contact/linkedin.svg" alt="Linkedin" class="dm-social"></button>
                </div>
            </div>

            <br>
            <div id="previous-blogpost">
                <div class="dm-blog--previous">
                    {{#previous}}
                        Article précédent : <a
                            href="../{{dir}}/{{filename}}.html">{{doctitle}}</a><br>
                    {{/previous}}
                    {{#next}}
                        Article suivant : <a href="../{{dir}}/{{filename}}.html">{{doctitle}}</a>
                    {{/next}}

                    <small>Vous pouvez laisser un commentaire ou poser une question sur cet article par mail ou sur twitter. </small>
                </div>
            </div>
        </devmind-article>
    </div>
    {{> _page_footer baseuri='../../'}}
</main>
{{> _html_footer baseuri='../../'}}
<script src="../../js/blog.js">
    blog = true;
</script>
</body>
</html>
