<!DOCTYPE html>
<html lang="fr">
<head>
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <div class="dm-block--intro">
        <devmind-section>
            <h1>D&eacute;veloppement & Formation</h1>
            <p class="dm_lead">
            Je me nomme <a href="https://twitter.com/guillaumeehret" rel="noopener" target="_blank">Guillaume EHRET</a> et je propose mes services
            pour aider les entreprises qui souhaitent cr&eacute;er de nouveaux logiciels ou s'organiser pour r&eacute;ussir leurs d&eacute;fis. Je peux intervenir en
            tant que d&eacute;veloppeur exp&eacute;riment&eacute; pour du conseil, de la programmation et de la formation.
            </p>
            <p>
                <a href="https://twitter.com/guillaumeehret" target="_blank" rel="noopener">
                    <img src="img/contact/twitter.svg" alt="Twitter" class="dm-social">
                </a>
                <a href="https://github.com/javamind" target="_blank" rel="noopener">
                    <img src="img/contact/github.svg" alt="Github" class="dm-social">
                </a>
                <a href="https://www.linkedin.com/pub/guillaume-ehret/7/668/999" target="_blank" rel="noopener">
                    <img src="img/contact/linkedin.svg" alt="Linkedin" class="dm-social">
                </a>
                <a href="http://fr.viadeo.com/fr/profile/guillaume.ehret1" target="_blank" rel="noopener">
                    <img src="img/contact/viadeo.svg" alt="Viadeo" class="dm-social">
                </a>
            </p>

            <p class="center">
                <a href="formations.html" class="btn"  alt="Formations" onclick="app.changeMenu('#formation')">
                Voir les formations</a>
            </p>

        </devmind-section>
    </div>
    <div class="dm-block--blog">
        <devmind-section>
            <h2>Derniers articles de blog</h2>
            <div class="dm-grid--flexible">
                {{#firstArticle}}
                    <article class="dm-grid--element dm-blog--article" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                        <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="dm_lead dm-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></p>
                        <p class="dm-blog--teaser">{{teaser}}</p>
                    </article>

                {{/firstArticle}}
                {{#secondArticles}}
                    <article class="dm-grid--element dm-blog--article" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                        <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}" alt="{{doctitle}}"/></div>
                        <p class="dm_lead dm-blog--head"><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></p>
                        <p class="dm-blog--teaser">{{teaser}}</p>
                    </article>
                {{/secondArticles}}
            </div>
            <p class="center">
                <a href="blog.html" class="btn"  alt="Blog" onclick="app.changeMenu('#blog')">
                    Voir le blog</a>
            </p>
        </devmind-section>
    </div>
    <div class="dm-block--news">
        <devmind-section>
            <h2>Actualit&eacute;s</h2>

            <p class="dm_lead">Vous pouvez visualiser ma page <a href="experience.html" alt="Experience" onclick="app.changeMenu('#experience')">exp&eacute;riences</a> pour voir mes
                 clients ou employeurs depuis pratiquement 20 ans. J'interviens en tant que speaker dans des conf&eacute;rences et je fais aussi partie de
                l'&eacute;quipe des organisateurs de la conf&eacute;rence <a
                    href="https://mixitconf.org/" rel="noopener">MiXiT</a> qui a lieu tous
                les ans à Lyon qui regroupe 1000 personnes pendant 2 jours autour de conf&eacute;rences, d'ateliers avec des speakers venant du monde entier.</p>

<!--            <div class="btn">-->
<!--                <p class="dm_lead"> Retrouvez DevMind du 17 au 19 avril 2019 à <a href="https://www.devoxx.fr" title="Devoxx France">Devoxx France</a></p>-->

<!--                <p>-->
<!--                    Après le Togo (<a href="https://itogo.cleverapps.io/" title="Conférence ITogo">ITogo.conf</a>) et le Maroc (<a href="https://www.devoxx.ma/" title="Devoxx Maroc">Devoxx MA</a>), je suis très heureux d'avoir-->
<!--                    été sélectionné pour parler d'Android pendant la prochaine édition de Devoxx France. Nous verrons comment coder une application Android en Kotlin. Je vous parlerai de la plateforme, de Kotlin et nous-->
<!--                    créerons en livecoding la prochaine application Android de Devoxx :-)-->
<!--                </p>-->

<!--                <p class="center">-->
<!--                    <picture>-->
<!--                        <source srcset="img/formation/conf-devoxx_fr_android.webp" type="image/webp"/>-->
<!--                        <source srcset="img/formation/conf-devoxx_fr_android.png"/>-->
<!--                        <img src="img/formation/devoxx_fr_android.png" alt="Application Score">-->
<!--                    </picture>-->
<!--                </p>-->

<!--                &lt;!&ndash;<p class="dm_lead"> Vous pouvez télécharger la dernière application Android crée par DevMind</p>&ndash;&gt;-->
<!--                &lt;!&ndash;<p>Cette application a été créée pour les amateurs de jeu de sociétés. Quand vous jouez avec vos amis et que vous voulez marquer les scores, cette application permet de le faire.<br>&ndash;&gt;-->
<!--                     &lt;!&ndash;<a href="blog/2019/application_android_score.html">Plus d'informations ici.</a></p>&ndash;&gt;-->

<!--                &lt;!&ndash;<p class="center">&ndash;&gt;-->
<!--                    &lt;!&ndash;<picture>&ndash;&gt;-->
<!--                        &lt;!&ndash;<source srcset="img/blog/2019/score_00.webp" type="image/webp"/>&ndash;&gt;-->
<!--                        &lt;!&ndash;<source srcset="img/blog/2019/score_00.png"/>&ndash;&gt;-->
<!--                        &lt;!&ndash;<img src="img/blog/2019/score_00.png" alt="Application Score">&ndash;&gt;-->
<!--                    &lt;!&ndash;</picture>&ndash;&gt;-->
<!--                &lt;!&ndash;</p>&ndash;&gt;-->
<!--                &lt;!&ndash;<p class="center">&ndash;&gt;-->
<!--                    &lt;!&ndash;<a href="https://play.google.com/store/apps/details?id=com.ehret.gamescore" class="btn-inverse">&ndash;&gt;-->
<!--                        &lt;!&ndash;<picture>&ndash;&gt;-->
<!--                            &lt;!&ndash;<source srcset="img/badge_googleplay.webp" type="image/webp"/>&ndash;&gt;-->
<!--                            &lt;!&ndash;<source srcset="img/badge_googleplay.png"/>&ndash;&gt;-->
<!--                            &lt;!&ndash;<img src="img/badge_googleplay.png" alt="Button Play store">&ndash;&gt;-->
<!--                        &lt;!&ndash;</picture>&ndash;&gt;-->
<!--                    &lt;!&ndash;</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</p>&ndash;&gt;-->
<!--            </div>-->

            <p class="dm_lead">Je participe &eacute;galement à des projets Open Source. Vous pouvez consulter mon <a
                    href="https://github.com/javamind" rel="noopener">Github</a> pour plus d'informations.
                J'interviens &eacute;galement r&eacute;gulièrement dans des conf&eacute;rences et voici mon <a
                        href="https://speakerdeck.com/javamind" rel="noopener">Speaker Deck</a>
            </p>
        </devmind-section>
    </div>
    <div class="dm-block--blog">
        <devmind-section>
            <h2>Contact</h2>
            <p class="dm_lead">
                N'h&eacute;sitez pas à me contacter si vous souhaitez plus d'informations<br>
            </p>

            <p class="dm_lead">
                <b>Guillaume EHRET</b><br>
                <a>guillaume (@) dev-mind.fr</a>
            </p>
            <address class="dm_lead">
                <b>Dev-Mind</b><br>
              14 rue des roches<br>
              42290 Sorbiers<br>
                France
            </address>
        </devmind-section>
    </div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
</body>
</html>
